n8n-local/workflows/02-generate-outreach-drafts.json
{
  "id": "vr-local-generate-drafts",
  "name": "Generate Outreach Drafts - Approval Gate",
  "active": false,
  "nodes": [
    {
      "id": "gd-note",
      "name": "Workflow Rules",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -420,
        -240
      ],
      "parameters": {
        "content": "Creates email drafts only. It never sends email.\n\nDecision tree: health check -> generate deterministic drafts -> branch by created/skipped -> read approval queue.",
        "width": 340,
        "height": 220,
        "color": 3
      }
    },
    {
      "id": "gd-manual",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -360,
        80
      ],
      "parameters": {}
    },
    {
      "id": "gd-health",
      "name": "Preflight: Automation API Health",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -120,
        80
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.AUTOMATION_API_URL + '/health' }}",
        "sendBody": false,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "{}",
        "options": {
          "timeout": 120000
        }
      }
    },
    {
      "id": "gd-api-ok",
      "name": "API and PostgreSQL Ready?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        120,
        80
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "gd-api-ok-condition",
              "leftValue": "={{ $json.ok }}",
              "rightValue": true,
              "operator": {
                "type": "string",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "gd-generate",
      "name": "Generate Email Drafts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        380,
        -60
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.AUTOMATION_API_URL + '/drafts/generate' }}",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "{ \"limit\": 500 }",
        "options": {
          "timeout": 120000
        }
      }
    },
    {
      "id": "gd-created",
      "name": "New Drafts Created?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        640,
        -60
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "gd-created-condition",
              "leftValue": "={{ $json.created || 0 }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "gd-pending-new",
      "name": "Read Pending Queue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        -180
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.AUTOMATION_API_URL + '/drafts/pending' }}",
        "sendBody": false,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "{}",
        "options": {
          "timeout": 120000
        }
      }
    },
    {
      "id": "gd-skipped",
      "name": "Only Duplicates / No Template?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        900,
        80
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "gd-skipped-condition",
              "leftValue": "={{ $json.skipped || 0 }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "gd-no-action",
      "name": "No Draft Action Needed",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1160,
        180
      ],
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "string": [
            {
              "name": "next_action",
              "value": "No new drafts were created. Review skipped count or import more ready_for_draft contacts."
            }
          ]
        }
      }
    },
    {
      "id": "gd-api-down",
      "name": "Stop: API or Database Not Ready",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        380,
        260
      ],
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "string": [
            {
              "name": "next_action",
              "value": "Start Docker stack and verify /health before retrying."
            }
          ]
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Preflight: Automation API Health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preflight: Automation API Health": {
      "main": [
        [
          {
            "node": "API and PostgreSQL Ready?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API and PostgreSQL Ready?": {
      "main": [
        [
          {
            "node": "Generate Email Drafts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop: API or Database Not Ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Email Drafts": {
      "main": [
        [
          {
            "node": "New Drafts Created?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New Drafts Created?": {
      "main": [
        [
          {
            "node": "Read Pending Queue",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Only Duplicates / No Template?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Only Duplicates / No Template?": {
      "main": [
        [
          {
            "node": "Read Pending Queue",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Draft Action Needed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "tags": [
    {
      "name": "Vanilla Republic Local"
    },
    {
      "name": "No Auto Send"
    }
  ]
}
