n8n-local/workflows/05-unsubscribe-handler.json
{
  "id": "vr-local-unsubscribe",
  "name": "Unsubscribe Handler - Suppression Tree",
  "active": false,
  "nodes": [
    {
      "id": "un-note",
      "name": "Workflow Rules",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -520,
        -240
      ],
      "parameters": {
        "content": "Adds email to suppression list and marks contacts do_not_contact.\n\nNo outbound messages. Use for local webhook tests or manual pasted unsubscribe events.",
        "width": 340,
        "height": 220,
        "color": 3
      }
    },
    {
      "id": "un-webhook",
      "name": "Webhook: Unsubscribe",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -460,
        80
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "vanilla/unsubscribe",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "un-email",
      "name": "Valid Email Present?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -200,
        80
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "un-email-condition",
              "leftValue": "={{ /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test($json.body?.email || '') }}",
              "rightValue": true,
              "operator": {
                "type": "string",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "un-save",
      "name": "Write Suppression: Unsubscribe",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        80,
        -80
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.AUTOMATION_API_URL + '/suppression/unsubscribe' }}",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ email: $json.body.email, source: $json.body.source || 'n8n_local_unsubscribe' }) }}",
        "options": {
          "timeout": 120000
        }
      }
    },
    {
      "id": "un-ok",
      "name": "Respond: Suppressed",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        360,
        -80
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, reason: 'unsubscribe', email: $json.email } }}"
      }
    },
    {
      "id": "un-bad",
      "name": "Respond: Invalid Email",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        80,
        200
      ],
      "parameters": {
        "respondWith": "json",
        "responseCode": 400,
        "responseBody": "={{ { ok: false, message: 'Valid email is required.' } }}"
      }
    }
  ],
  "connections": {
    "Webhook: Unsubscribe": {
      "main": [
        [
          {
            "node": "Valid Email Present?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valid Email Present?": {
      "main": [
        [
          {
            "node": "Write Suppression: Unsubscribe",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond: Invalid Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Suppression: Unsubscribe": {
      "main": [
        [
          {
            "node": "Respond: Suppressed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "tags": [
    {
      "name": "Vanilla Republic Local"
    },
    {
      "name": "No Auto Send"
    }
  ]
}
