n8n-local/workflows/06-bounce-import.json
{
  "id": "vr-local-bounce-import",
  "name": "Bounce Import - Suppression Tree",
  "active": false,
  "nodes": [
    {
      "id": "bo-note",
      "name": "Workflow Rules",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -520,
        -240
      ],
      "parameters": {
        "content": "Imports bounced emails into suppression.\n\nManual/local only. No deliverability verification claim. No ZeroBounce.",
        "width": 340,
        "height": 220,
        "color": 3
      }
    },
    {
      "id": "bo-manual",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -460,
        80
      ],
      "parameters": {}
    },
    {
      "id": "bo-input",
      "name": "Paste Bounce Email Here",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -220,
        80
      ],
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "string": [
            {
              "name": "email",
              "value": "bounce-simulation@example.com"
            },
            {
              "name": "source",
              "value": "n8n_local_bounce_simulation"
            }
          ]
        }
      }
    },
    {
      "id": "bo-email",
      "name": "Valid Email Present?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        40,
        80
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "bo-email-condition",
              "leftValue": "={{ /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test($json.email || '') }}",
              "rightValue": true,
              "operator": {
                "type": "string",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "bo-save",
      "name": "Write Suppression: Bounce",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        -80
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.AUTOMATION_API_URL + '/suppression/bounce' }}",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ email: $json.email, source: $json.source }) }}",
        "options": {
          "timeout": 120000
        }
      }
    },
    {
      "id": "bo-ok",
      "name": "Bounce Suppressed",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        600,
        -80
      ],
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "string": [
            {
              "name": "next_action",
              "value": "Contact is marked do_not_contact. Do not generate or send outreach."
            }
          ]
        }
      }
    },
    {
      "id": "bo-invalid",
      "name": "Invalid Bounce Record",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        320,
        200
      ],
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "string": [
            {
              "name": "next_action",
              "value": "Fix the bounce input email format before importing."
            }
          ]
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Paste Bounce Email Here",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Paste Bounce Email Here": {
      "main": [
        [
          {
            "node": "Valid Email Present?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valid Email Present?": {
      "main": [
        [
          {
            "node": "Write Suppression: Bounce",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Invalid Bounce Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Suppression: Bounce": {
      "main": [
        [
          {
            "node": "Bounce Suppressed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "tags": [
    {
      "name": "Vanilla Republic Local"
    },
    {
      "name": "No Auto Send"
    }
  ]
}
