n8n-local/workflows/07-manual-test-email-draft.json
{
  "id": "vr-local-test-email-draft",
  "name": "Manual Test Email Draft - Approval Only",
  "active": false,
  "nodes": [
    {
      "id": "te-note",
      "name": "Workflow Rules",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -520,
        -240
      ],
      "parameters": {
        "content": "Manual local email ecosystem test.\n\nCreates a pending approval draft for a controlled test inbox and records a controlled reply-to inbox.\n\nNo SMTP. No Gmail API. No automatic sending.",
        "width": 340,
        "height": 220,
        "color": 3
      }
    },
    {
      "id": "te-manual",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -460,
        80
      ],
      "parameters": {}
    },
    {
      "id": "te-config",
      "name": "Test Recipient Settings",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -220,
        80
      ],
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "string": [
            {
              "name": "recipient",
              "value": "your-test-recipient@example.com"
            },
            {
              "name": "reply_to",
              "value": "your-reply-to@example.com"
            }
          ]
        }
      }
    },
    {
      "id": "te-email",
      "name": "Recipient and Reply-To Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        40,
        80
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "te-email-condition",
              "leftValue": "={{ /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test($json.recipient || '') && /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test($json.reply_to || '') }}",
              "rightValue": true,
              "operator": {
                "type": "string",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "te-create",
      "name": "Create Pending Test Draft",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        -80
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.AUTOMATION_API_URL + '/drafts/test-email' }}",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ recipient: $json.recipient, reply_to: $json.reply_to }) }}",
        "options": {
          "timeout": 120000
        }
      }
    },
    {
      "id": "te-created",
      "name": "Draft Created?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        600,
        -80
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "te-created-condition",
              "leftValue": "={{ $json.ok }}",
              "rightValue": true,
              "operator": {
                "type": "string",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "te-pending",
      "name": "Read Pending Approval Queue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        -180
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.AUTOMATION_API_URL + '/drafts/pending' }}",
        "sendBody": false,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "{}",
        "options": {
          "timeout": 120000
        }
      }
    },
    {
      "id": "te-error",
      "name": "Stop: Test Draft Failed",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        880,
        40
      ],
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "string": [
            {
              "name": "next_action",
              "value": "Check automation API health and PostgreSQL before retrying."
            }
          ]
        }
      }
    },
    {
      "id": "te-invalid",
      "name": "Stop: Invalid Test Email Settings",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        320,
        200
      ],
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "string": [
            {
              "name": "next_action",
              "value": "Use valid recipient and reply-to email addresses."
            }
          ]
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Test Recipient Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test Recipient Settings": {
      "main": [
        [
          {
            "node": "Recipient and Reply-To Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recipient and Reply-To Valid?": {
      "main": [
        [
          {
            "node": "Create Pending Test Draft",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop: Invalid Test Email Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Pending Test Draft": {
      "main": [
        [
          {
            "node": "Draft Created?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Draft Created?": {
      "main": [
        [
          {
            "node": "Read Pending Approval Queue",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop: Test Draft Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "tags": [
    {
      "name": "Vanilla Republic Local"
    },
    {
      "name": "No Auto Send"
    }
  ]
}
